@import "../general/general";
@import "../section/header";


// logo---- font-family: 'Gorditas', cursive;

// body {

//     height: 100vh;
//     overflow-y: hidden;
//   }


:root {

    --accent-clr: #FFFFFF;
    --body: #FFFFFF;
    --accent-dark: #FAFAFA;
    --accent-light: rgba(165, 169, 172, 0.1);
    --bg-light: #333333;
    --text: black;

    --clr-fixed: black;
    --bg-main: #FFFFFF;
    --color-primary: #C8EE44;
    --color-lighten: #929EAE;
    --text-1: #1B212D;
    --text-2: #929EAE;
    --text: black;
    --sidebar-bg: #FAFAFA;
    --color-secondary: #29A073;
    --gray-2: #F8F8F8;
    --gray-3: #F5F5F5;
    --text-light: #FFFFFF;
    --gray-6: #FFF4FE;
    --gray-7: #363A3F;
    --color-dark: #000000;
    --scrollbarBG: #C8EE44;
    --thumbBG: rgba(114, 129, 146, 0.3);
    --color-bg-opacity: rgb(var(--color-primary-rgba), .10);
    --box-shadow-color-rgba: 146, 153, 184;
    --box-shadow-collapse: rgb(var(146, 153, 184), .50) --border-light: rgba(165, 169, 172, 0.1);
    --border-light: rgba(12, 11, 12, 0.1);



}

.dark_mode {
    --accent-clr: #131313;
    --accent-dark: #000000;
    --accent-light: rgba(155, 155, 155, .1);
    --text: rgb(255, 255, 255);

    --clr-fixed: black;
    --bg-main: #180e35;
    --text-1: #FFFFFF;
    --text-2: #929EAE;
    --color-primary: #C8EE44;
    --text-light: #FFFFFF;
    --sidebar-bg: #252246;
    --text-5: #1B212D;
    --dark-1: #201E34;
    --text-3: #78778B;
    --dark-1: #201E34;
    --dark-2: #282541;
    --color-secondary: #29A073;
    --dark-bg: #1C1A2E;
    --bg-white: #ffffff;
    --bg-linear: #22202C;
    --dark-3: #292642;
    --gray-3: #F5F5F5;
    --color-liner: #2E2B4A;
    --border-light: rgba(207, 213, 219, 0.829);



}



.layout {

    &__sidebar-wrapper {
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: var(--bg-main);
        transition: background-color 0.3s ease-in-out;
    }

    .sidebar {

        .sidebar-collapser {
            position: fixed;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            z-index: 111;
            cursor: pointer;
            color: var(--text-1);
            // box-shadow: 1px 1px 4px var(--box-shadow-collapse);
            top: 72px;
            left: 228px;
            transition: .3s ease-out;
            background-color: var(--bg-main);
            border-radius: 99px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 4px solid var(--border-light);
            height: 40px;
            width: 40px;
            cursor: pointer;
        }

        &.collapsed {
            .sidebar-collapser {
                left: 65px;

                i {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sidebar.collapsed {
        width: 90px;
        min-width: 90px;

        .sidebar-content,
        .sidebar-footer {

            .sidenav_link {
                padding: 10px 6px;
            }
        }
    }

    @media (max-width: 576px) {
        #btn-collapse {
            display: none;
        }
    }

    .sidenav_link {
        display: flex;
        align-items: center;
        padding: 3px 20px;
        margin: 10px 0px;
        white-space: nowrap;
    }

    .sidenav_link:hover {
        background-color: var(--color-primary);
        border-radius: 8px;
    }

    .sidenav_link.active {
        font-weight: 700;
        background-color: var(--color-primary);
        border-radius: 8px;

        h3 {
            color: var(--clr-fixed);
        }

        &:hover {
            color: var(--clr-fixed)
        }
    }

    .sidenav_link i {
        color: var(--text);
    }

    .bx {
        font-size: 22px;
        margin-right: -6px;
    }

    h3 {
        color: var(--text-2);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin: 10px 10px;
        white-space: nowrap;
    }

    .sidenav_link:hover>h3,
    .sidenav_link:hover img {
        color: var(--text-2);

        svg {
            path {
                fill: var(--text) !important;
                color: var(--text) !important;
            }
        }
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .bx-calendar {
        position: relative;
    }

    .sidenav_footer {
        margin-bottom: 12px;
    }

}


.layout {
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    .sidebar {
        width: 250px;
        min-width: 250px;
        transition: .3s ease-out;
    }

    header {
        display: flex;
        align-items: center;
        padding: 40px 50px;
        justify-content: space-between;

    }

    .sidebar-content {
        padding: 12px 50px;
        display: flex;
        flex-direction: column;
    }

    .sidebar-footer {
        text-align: center;
        margin-top: auto;
        // margin-bottom: 20px;
        padding: 20px;
    }

    .sidebar {

        background-color: var(--sidebar-bg);
        // color: $secondary-text-color;
        overflow-x: hidden !important;
        position: relative;
        overflow-y: scroll;


        &::-webkit-scrollbar {
            width: 7px;
            color: var(--thumbBG);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 10px;

        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: var(--thumbBG);
                width: 7px;
            }
        }

        .sidebar-layout {
            height: auto;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: var(--sidebar-bg);

            .sidebar-header {
                // height: 100px;
                // min-height: 100px;
                display: flex;
                align-items: center;
                padding: 0 0px;

                .logo_section {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 26px;
                        color: var(--text-1);
                    }
                }

                >span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

            }

            .sidebar-content {

                h3 {
                    margin-left: 20px;
                }
            }

            .sidebar-footer {
                height: 200px;
                min-height: 200px;
                margin-top: 150px;
                padding: 50px 0px;
                align-items: center;

                h3 {
                    margin-left: 20px;
                }

                >span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}








////////////////// atm ///////////////


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .container.change {
//    background: #262626;
// }

// .card-wrapper {
//     width: 35rem;
//     height: 20rem;
//     //  background: white;
//     box-shadow: 0 2rem 3rem rgb(0, 0, 0, 0.4);
//     border-radius: 1rem;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
// }

// .container.change .card-wrapper {
//     background: #353535;
//     color: #eee;
//     box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.009);


//     .card-map {
//         width: 32rem;
//         height: 20rem;
//         opacity: 0.23;
//     }

//     .card-chip {
//         width: 4.5rem;
//         position: absolute;
//         top: 5.8rem;
//         left: 1.2rem;
//     }

//     .card-type {
//         position: absolute;
//         top: 2rem;
//         font-weight: bold;
//         letter-spacing: .1rem;
//         left: 2rem;
//         opacity: .8;
//     }

//     .card-left {
//         position: absolute;
//         bottom: 1rem;
//         left: 2rem;
//     }

//     .card-mode-icon {
//         position: absolute;
//         top: 1rem;
//         right: 2rem;

//     }

//     .card-circle-right {
//         position: relative;
//     }

//     .red-circle {
//         height: 4rem;
//         width: 4rem;
//         position: absolute;
//         right: 2rem;
//         top: 4rem;
//         background: red;
//         opacity: .8;
//         border-radius: 50%;
//     }

//     .orange-circle {
//         width: 4rem;
//         height: 4rem;
//         background: orange;
//         position: absolute;
//         right: 0rem;
//         top: 4rem;
//         opacity: .7;
//         border-radius: 50%;
//     }

//     .card-left {
//         opacity: .8;
//     }

//     .card-bin-number {
//         font-size: 1.5rem;
//         margin-top: -4rem;
//         margin-bottom: .6rem;
//     }

//     .card-date {
//         font-size: 1.2rem;
//     }

//     .card-date {
//         letter-spacing: .1rem;
//     }

//     .card-date>span {
//         display: block;
//     }

//     .card-owner {
//         margin-top: .5rem;
//         font-size: 1.2rem;
//     }

//     .card-mode-icon>span {
//         font-size: 3.3rem;
//         position: relative;
//         cursor: pointer;
//         width: 4.3rem;
//         height: 4.3rem;
//         background: #eee;
//         opacity: .8;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-radius: 50%;

//     }
// }