:root {


    --clr-fixed: black;
    --bg-main: #FFFFFF;
    --color-primary: #C8EE44;
    --color-lighten: #929EAE;
    --text-1: #1B212D;
    --text-2: #929EAE;
    --text: black;
    --sidebar-bg: #FAFAFA;
    --color-secondary: #29A073;
    --gray-2: #F8F8F8;
    --gray-3: #F5F5F5;
    --text-light: #FFFFFF;
    --gray-6: #FFF4FE;
    --gray-7: #363A3F;
    --color-dark: #000000;
    --scrollbarBG: #C8EE44;
    --thumbBG: rgba(114, 129, 146, 0.3);
    --color-bg-opacity: rgb(var(--color-primary-rgba), .10);
    --box-shadow-color-rgba: 146, 153, 184;
    --box-shadow-collapse: rgb(var(146, 153, 184), .50) --border-light: rgba(165, 169, 172, 0.1);
    --border-light: rgba(12, 11, 12, 0.1);
    



}

.dark_mode {
   

    --clr-fixed: black;
    --bg-main: #1C1A2E;
    --text-1: #FFFFFF;
    --text-2: #929EAE;
    --color-primary: #C8EE44;
    --text-light: #FFFFFF;
    --sidebar-bg: #1E1C30;
    --text-5: #1B212D;
    --dark-1: #201E34;
    --text-3: #78778B;
    --dark-1: #201E34;
    --dark-2: #282541;
    --color-secondary: #29A073;
    --dark-bg: #1C1A2E;
    --bg-white: #ffffff;
    --bg-linear: #22202C;
    --dark-3: #292642;
    --gray-3: #F5F5F5;
    --color-liner: #2E2B4A;
    --border-light: rgba(207, 213, 219, 0.829);



}

// @import "../general/general";

