


body {
 
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  span {
    text-decoration: none;
  }
}

*************************************



#theme_switch {
  background-color: transparent;
  border: none;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
}








@media (max-width: 768px) {
  #btn-collapse {
    display: none;
  }
}


// .layout {
//   .sidebar {
//     .pro-sidebar-logo {
//       display: flex;
//       align-items: center;

//       >div {
//         width: 35px;
//         min-width: 35px;
//         height: 35px;
//         min-height: 35px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 8px;
//         color: white;
//         font-size: 24px;
//         font-weight: 700;
//         background-color: #ff8100;
//         margin-right: 10px;
//       }

//       >h5 {
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//         font-size: 20px;
//         line-height: 30px;
//         transition: opacity 0.3s;
//         opacity: 1;
//       }
//     }


//     .sidebar-collapser {
//       transition: left, right, 0.3s;
//       position: fixed;
//       left: 260px;
//       top: 40px;
//       width: 20px;
//       height: 20px;
//       border-radius: 50%;
//       background-color: #00829f;
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       -ms-flex-align: center;
//       align-items: center;
//       justify-content: center;
//       font-size: 1.2em;
//       transform: translateX(50%);
//       z-index: 111;
//       cursor: pointer;
//       color: white;
//       box-shadow: 1px 1px 4px  var(--accent-clr);
//     }

//     // &.collapsed {
//     //   .pro-sidebar-logo {
//     //     >h5 {
//     //       opacity: 0;
//     //     }
//     //   }

//     //   .footer-box {
//     //     display: none;
//     //   }

//     //   .sidebar-collapser {
//     //     left: 60px;

//     //     i {
//     //       transform: rotate(180deg);
//     //     }
//     //   }
//     // }
//   }
// }


.sidebar-toggler {
  position: fixed;
  right: 20px;
  top: 20px;
}




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');



#page_wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: var(--accent-dark);
}

.sidenav {
  background-color: var(--accent-clr);
  height: 100vh;
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.sidenav_link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 2px;
} 

.sidenav_link:hover {
  background-color: var(--accent-light);
  border-radius: 8px;
}

.sidenav_link.active {
  font-weight: 700;
  background-color: var(--accent-light);
  border-radius: 8px;
}

.sidenav_link i {
  color: var(--text);
}

.sidenav_link:hover > h3, 
.sidenav_link:hover i {
  color: var(--text);
}

.logo_section {
  height: 60px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  padding-inline: 14px;
}

.logo_section i {
  color: var(--text);
}

.logo_section h3 {
  font-weight: bold;
  font-size: 18px;
}

#nav_collapse_btn {
  position: absolute;
  top: 72px;
  left: 240px;
  transition: 250ms ease-out;
  background-color: var(--accent-dark);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--accent-light);
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#nav_collapse_btn > i {
  color: var(--text);
  font-size: 18px;
  margin-left: 8px;
}

.bx {
  font-size: 22px;
  margin-right: 8px;
}

h3 {
  color: var(--text);
  font-size: 16px;
  letter-spacing: .5px;
}

a {
  text-decoration: none;
}

.bx-calendar {
  position: relative;
}

.external_link {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 210px;
  top: 266px;
}

.sidenav_footer {
  margin-bottom: 12px;
}

main {
  padding-inline: 32px;
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 12px;
  color: var(--text);
}

p {
  line-height: 145%;
  letter-spacing: .25px;
  color: var(--text);
  margin-bottom: 32px;
}

#theme_switch {
  background-color: transparent;
  border: none;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
}

#theme_switch:hover {
  background-color: var(--accent-light);
}

.bx-sun {
  color: var(--text);
  padding-left: 8px;
}

.chart_container {
  width: 90%;
  max-width: 600px;
  background-color: var(--accent-light);
  border-radius: 12px;
  padding: 30px;
  border: 1px solid var(--accent-light);
  box-shadow: 
    0px 5px 20px rgba(0, 0, 0, 0.1),
    0px 1px 5px rgba(0, 0, 0, 0.1);
}

.collapsed #sidenav {
  width: 48px;
  transition: 250ms ease-out;
}

.collapsed #nav_collapse_btn {
  left: 44px;
  transition: 250ms ease-out;
}

.collapsed .external_link {
  display: none;
}

.collapsed .sidenav_link {
  width: 22px;
}

.collapsed h3 {
  display: none;
}

#page_wrapper.collapsed {
  grid-template-columns: 68px 1fr;
  transition: 250ms ease-out;
}


////////////////// atm ///////////////
    

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

// .container.change {
//    background: #262626;
// }

.card-wrapper {
   width: 35rem;
   height: 20rem;
  //  background: white;
   box-shadow: 0 2rem 3rem rgb(0, 0, 0, 0.4);
   border-radius: 1rem;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.container.change .card-wrapper {
   background: #353535;
   color: #eee;
   box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.009);
}

.card-map {
   width: 32rem;
   height: 20rem;
   opacity: 0.23;
}

.card-chip {
   width: 4.5rem;
   position: absolute;
   top: 5.8rem;
   left: 1.2rem;
}

.card-type {
   position: absolute;
   top: 2rem;
   font-weight: bold;
   letter-spacing: .1rem;
   left: 2rem;
   opacity: .8;
}

.card-left {
   position: absolute;
   bottom: 1rem;
   left: 2rem;
}

.card-mode-icon {
   position: absolute;
   top: 1rem; 
   right: 2rem;

}

.card-circle-right {
   position: relative;
}

.red-circle {
   height: 4rem;
   width: 4rem;
   position: absolute;
   right: 2rem;
   top: 4rem;
   background: red;
   opacity: .8;
   border-radius: 50%;
}

.orange-circle {
   width: 4rem;
   height: 4rem;
   background: orange;
   position: absolute;
   right: 0rem;
   top: 4rem;
   opacity: .7;
   border-radius: 50%;
}

.card-left {
   opacity: .8;
}

.card-bin-number {
   font-size: 1.5rem;
   margin-top: -4rem;
   margin-bottom: .6rem;
}

.card-date {
   font-size: 1.2rem;
}

.card-date {
   letter-spacing: .1rem;
}

.card-date > span {
   display: block;
}

.card-owner {
   margin-top: .5rem;
   font-size: 1.2rem;
}

.card-mode-icon > span {
   font-size: 3.3rem;
   position: relative;
   cursor: pointer;
   width: 4.3rem;
   height: 4.3rem;
   background: #eee;
   opacity: .8;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;

}
