
canvas {
  max-height: 100%;
  max-width: 100%;
}
// #barChart{
  
//   background-color: transparent;
//   border-radius: 6px;
//   border: 1px solid rgb(231, 229, 229);
// /*   Check out the fancy shadow  on this one */
//   // box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.6);
// }

#myChart {
    border: 1px solid #c4bdbd;
    border-radius: 10px;
}

